body{
  background-color:#5f5f5f;
  margin: 0px;
}

.header{
    width: 960px;
    text-align: center;
    margin:150px auto 50px auto;
    border-bottom: 3px solid black;
}
.header h1{
  font-family: "Calibri Light", Arial, sans-serif;
  font-size: 72px;
  text-shadow: 2px 2px #000000;
  color: #FFFFFF;
}
.header ul{
  list-style-type: none;
  font-family: "Calibri Light", Arial, sans-serif;
  font-size: 25px;
}
.header li{
  display: inline;
  padding-left: 10px;
}
.header img{
  float: left;
  padding-left: 100px;
}
.content{
  width: 960px;
  margin:50px auto 150px auto;
}
.education{
  margin-left: 30%;
  border-bottom: 1px solid #aaa;
}
.education h2{
  margin-left : -100px;
}
.academic{
  margin-left: 30%;
  border-bottom: 1px solid #aaa;
}
.academic h2{
  margin-left : -100px;
}
.skills{
  margin-left: 30%;
  border-bottom: 1px solid #aaa;
}
.skills h2{
  margin-left : -100px;
}
.skills li{
  list-style: none;
}


.codingLanguage{
  width: 50%;
  float: left;
}
.operationSystem{
  width: 50%;
  float: left;
}
.group:before,.group:after{
  content: "";
  display: table;
}
.group:after{
  clear: both;
}
.clear{
  clear?: both;
}
.tools{
    width: 50%;
    float: right;
}
.language{
   width: 50%;
   float: right;
}


.classProject{
  margin-left: 30%;
  border-bottom: 1px solid #aaa;
}

.classProject h2{
  margin-left : -100px;
}
.personalProject{
  margin-left: 30%;
  border-bottom: 1px solid #aaa;
}
.personalProject h2{
  margin-left : -100px;
}
.workExperience{
  margin-left: 30%;
  border-bottom: 1px solid #aaa;
}
.workExperience h2{
    margin-left : -100px;

}
.cat {
  font-style: italic;
  font-size: 25px;
}
li{
   font: 20px/18px bold italic sans-serif;
}
